<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,142},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>dl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,55},{58,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,69}</string>
			</dict>
			<key>dl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,0},{63,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>dl4.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,0},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,69}</string>
			</dict>
			<key>dl5.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,133},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>dl6.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,167},{59,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,63}</string>
			</dict>
			<key>dl7.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,83},{59,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,66}</string>
			</dict>
			<key>dl8.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,159},{58,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,65}</string>
			</dict>
			<key>dl9.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,199},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,68}</string>
			</dict>
			<key>down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,216},{49,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,66}</string>
			</dict>
			<key>down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,239},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>
			<key>down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,179},{48,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,73}</string>
			</dict>
			<key>down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,308},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>
			<key>down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,297},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>down6.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,194},{51,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,69}</string>
			</dict>
			<key>down7.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,250},{50,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,73}</string>
			</dict>
			<key>down8.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,124},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>
			<key>down9.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,217},{33,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,71}</string>
			</dict>
			<key>dr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,337},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>
			<key>dr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,173},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>dr3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,253},{55,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,66}</string>
			</dict>
			<key>dr4.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,226},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>
			<key>dr5.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,244},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>dr6.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,336},{54,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,67}</string>
			</dict>
			<key>dr7.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,54},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
			<key>dr8.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,142},{54,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>dr9.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,123},{54,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,71}</string>
			</dict>
			<key>left1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,64},{75,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,61}</string>
			</dict>
			<key>left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{76,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,61}</string>
			</dict>
			<key>left3.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,60},{79,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,58}</string>
			</dict>
			<key>left4.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,61},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>left5.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>left6.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,121},{76,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>left7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,61}</string>
			</dict>
			<key>left8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>
			<key>left9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{76,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,63}</string>
			</dict>
			<key>right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,119},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>
			<key>right2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,181},{76,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,59}</string>
			</dict>
			<key>right3.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{79,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,59}</string>
			</dict>
			<key>right4.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{78,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,60}</string>
			</dict>
			<key>right5.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,60},{78,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,59}</string>
			</dict>
			<key>right6.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,59},{76,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,61}</string>
			</dict>
			<key>right7.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{80,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,61}</string>
			</dict>
			<key>right8.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,125},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>
			<key>right9.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{76,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,64}</string>
			</dict>
			<key>ul1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,212},{53,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,70}</string>
			</dict>
			<key>ul2.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,162},{54,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,67}</string>
			</dict>
			<key>ul3.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,0},{55,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,73}</string>
			</dict>
			<key>ul4.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,0},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,74}</string>
			</dict>
			<key>ul5.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,0},{55,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,73}</string>
			</dict>
			<key>ul6.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,113},{54,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,71}</string>
			</dict>
			<key>ul7.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,179},{60,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,72}</string>
			</dict>
			<key>ul8.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,105},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>
			<key>ul9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{54,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,77}</string>
			</dict>
			<key>up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,56},{49,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,82}</string>
			</dict>
			<key>up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,59},{48,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,83}</string>
			</dict>
			<key>up3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,214},{48,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,73}</string>
			</dict>
			<key>up4.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,114},{48,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,80}</string>
			</dict>
			<key>up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,0},{33,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,83}</string>
			</dict>
			<key>up6.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,253},{33,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,83}</string>
			</dict>
			<key>up7.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,216},{33,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,83}</string>
			</dict>
			<key>up8.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,217},{33,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,83}</string>
			</dict>
			<key>up9.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,55},{50,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,78}</string>
			</dict>
			<key>ur1.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,240},{57,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,73}</string>
			</dict>
			<key>ur2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,193},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>ur3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,61},{63,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,70}</string>
			</dict>
			<key>ur4.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,185},{59,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,71}</string>
			</dict>
			<key>ur5.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,63},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
			<key>ur6.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,120},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>ur7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{59,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,76}</string>
			</dict>
			<key>ur8.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,139},{58,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,75}</string>
			</dict>
			<key>ur9.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{54,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>qm2.png</string>
			<key>realTextureFileName</key>
			<string>qm2.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>